body{
    margin:0px;
    text-align:center;
    font-family: 'Merriweather', serif;
}
h1{
    font-size: 5.62rem;
    font-family: 'Sacramento', cursive;
    margin: 50px auto 0px auto;
    color:#66BFBF;
}
h2{
    font-size: 2.5rem;
    font-family: 'Montserrat', sans-serif;
    color:#66BFBF;
    font-weight:normal;
}
h3{
    font-family: 'Montserrat', sans-serif;
    color:#66BFBF;11999E;
}
.top{
    background-color:#EAF6F6;
    padding-top:100px;
}
.bottom-cloud{
    position:absolute;
    left:300px;
}
.top-cloud{
    position:absolute;
    top:50px;
    right:300px;
    bottom:300px;
}
.python-logo{
    width:15%;
    border-radius:100%;
    float:left;
    background-color: #AEE2FF;
    margin-right:30px;
}
.footer-link{
    color: #11999E;
}
.skill-row{
    width:50%;
    margin: 100px auto;
    text-align:left;
}
.computer{
    width:15%;
    border-radius:100%;
    float:right;
    margin-right:30px;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 11;
  -moz-border-radius: 11;
  border-radius: 11px;
  font-family: 'Montserrat', sans-serif;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.bottom-container{
    background-color:#66BFBF;
    margin-top:40px;
    padding-top:50px;
    padding-bottom:20px;
    padding-left:auto;
    padding-right:auto;

}
.footer{
    color:#EAF6F6;
    font-size:0.75em;
    margin-top:50px;
}
.profile{
    width:50%;
    margin:auto;
}
p{
    line-height:2;
}
hr{
    border: dotted #EAF6F6 6px;
    border-bottom:none;
    width:4%;
    margin:50px auto;
}
.message{
    width:40%;
    margin:40px auto;
}
a{
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
    margin: 10px 20px;
    text-decoration:none;
}
a:hover{
    color: #EAF6F6;
}